{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "jest",
      "unused-imports"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:jest/recommended",
      "plugin:prettier/recommended"
    ],
    "rules": {
      "id-length": [
        "error",
        {
          "max": 32,
          "exceptions": [
          ]
        }
      ],
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true
        }
      ],
      "unused-imports/no-unused-imports": "error",
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/no-var-requires": 0
    }
  }